params {
    manifest   = "/SCRATCH/interns/keerti/Pipeline/16s_Amplicon/metadata/manifest.tsv"
    outdir     = "/SCRATCH/interns/keerti/Pipeline/16s_Amplicon/results"
    classifier = "/COLD_STORAGE/megha/Database/silva-138-99-515-806-nb-classifier.qza"
    metadata   = "/SCRATCH/interns/keerti/Pipeline/16s_Amplicon/metadata/sample-metadata.tsv"

    trunc_len_f = 145
    trunc_len_r = 130
    trim_left_f = 0
    trim_left_r = 0

    sampling_depth        = 8107
    max_rarefaction_depth = 19000

    group_column = "Health_State"
}

process {
    executor = 'local'

    withName: IMPORT_DATA {
        cpus      = 2
        memory    = '8 GB'
        time      = '2h'
        container = '/COLD_STORAGE/software/tools/qiime2/qiime2.sif'
    }

    withName: DENOISE {
        cpus      = 8
        memory    = '32 GB'
        time      = '6h'
        container = '/COLD_STORAGE/software/tools/qiime2/qiime2.sif'
    }

    withName: PHYLOGENY {
        cpus      = 8
        memory    = '16 GB'
        time      = '2h'
        container = '/COLD_STORAGE/software/tools/qiime2/qiime2.sif'
    }

    withName: TAXONOMY {
        cpus      = 8
        memory    = '32 GB'
        time      = '4h'
        container = '/COLD_STORAGE/software/tools/qiime2/qiime2.sif'
    }

    withName: CORE_DIVERSITY {
        cpus      = 8
        memory    = '16 GB'
        time      = '2h'
        container = '/COLD_STORAGE/software/tools/qiime2/qiime2.sif'
    }

    withName: ALPHA_GROUP_SIGNIFICANCE {
        cpus      = 2
        memory    = '4 GB'
        time      = '30m'
        container = '/COLD_STORAGE/software/tools/qiime2/qiime2.sif'
    }

    withName: ALPHA_RAREFACTION {
        cpus      = 4
        memory    = '8 GB'
        time      = '1h'
        container = '/COLD_STORAGE/software/tools/qiime2/qiime2.sif'
    }

    withName: DIFFERENTIAL_ABUNDANCE {
        cpus      = 4
        memory    = '8 GB'
        time      = '1h'
        container = '/COLD_STORAGE/software/tools/qiime2/qiime2.sif'
    }

    withName: R_REPORT {
        cpus      = 2
        memory    = '4 GB'
        time      = '30m'
        container = '/SCRATCH/interns/keerti/Pipeline/16s_Amplicon/R.sif'
    }
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = false
        singularity.runOptions = "--bind /SCRATCH --bind /COLD_STORAGE --home /SCRATCH/interns/keerti/Pipeline/16s_Amplicon/qiime_home:/home/qiime2"
    }
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_report_excutionFile.html"
}

timeline {
    enabled = true
    file    = "${params.outdir}/timeline.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/trace.txt"
}
